/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 1383px){
    .card-container{
        text-align: center;
    }
}
@media only screen and (max-width: 1100px){
    nav{
      position: fixed;
    }
    main article section p, main article img{
      margin: 0;
    }
    main article section p{
        margin-bottom: .5em;
    }
    nav ul{
      flex-wrap: nowrap;
    }
    main article img{
      max-width: 400px;
      max-height: 400px;
      margin: 0 auto;
    }
    main article section p, main article section h2{
      margin: .5em 0;
    }
    #project-bottom{
        margin-bottom: .5em;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 960px){
    main article img{
      max-width: 350px;
      max-height: 350px;
      margin: 0 auto;
    }
    main article section p, main article section h2{
      margin: 0;
      margin-bottom: .25em;
    }
    main article section p{
        margin-bottom: 1em;
    }
    nav ul li a{
      font-size: .8em;
    }
    #project-bottom{
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 700px){
    #lend-and-lease img{
        max-width: 400px !important;
    }
    #lend-and-lease .text-brief{
        display: inline;
    }
    #lend-and-lease .text-depth{
        display: none;
    }
}
@media only screen and (max-width: 500px){
    main article img{
      max-height: 300px;
      max-width: 300px;
    }
    .card-front img{
      max-width: 350px !important;
      max-height: 350px;
    }
    .card{
        margin: .5em auto;
    }
    .card-text{
        margin: .5em auto;
    }
    #lend-and-lease img{
        max-width: 300px !important;
        max-height: 200px !important;
    }
    nav ul li{
      padding: .25em;
    }
    main h1{
      margin: 0 0 .25em;
      padding: 0;
    }
    main{
      margin-top: 4em;
    }
    #icon{
      display: none;
    }
    .text-depth{
        display: none;
    }
    .text-brief{
        display: inline;
    }
}
@media only screen and (max-width: 425px){
    .card-front img{
      max-width: 300px !important;
    }
    #lend-and-lease img{
        max-width: 280px !important;
    }
}
@media only screen and (max-width: 380px){
    main article img{
      max-height: 250px;
      max-width: 250px;
    }
    .card-front img, #lend-and-lease img{
      max-width: 270px !important;
      max-height: 300px;
    }
    nav ul li{
        padding: .15em;
    }
    main h1{
        padding: 0 .25em;
        margin-bottom: .25em;
    }
}