html{
  width: 100%;
  overflow-x: hidden;
}
/* Nav Styling */
nav
{
  background-color: #a5a5a5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  font-size: 1.25em;
}
nav ul
{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  padding: 0;
}
nav ul li{
  padding: .5em;
  list-style: none;
  font-size: 1.1em;
}
nav ul li a{
  color: #212121;
  text-decoration: none;
  font-size: 1em;
}
nav a{
  color: #212121;
}
nav ul li a:focus{
  text-decoration: none;
}
nav ul li a:hover{
  text-decoration: none;
}
.active, nav ul li a:hover{
  color:  #23527c;
}
/* Content Styling */
body{
  display: block;
  background-color: #FFFFFF;
  font-family: 'Raleway', sans-serif, "Verdana", "Georgia", "Arial";
  color: #222;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
}
article{
  padding: 0 10% 4.7em;
}
main
{
  margin-top: 5em;
  font-size: 1.2em;
  overflow-x: hidden;
}
main h1{
  margin-bottom: 1em;
  text-align: center;
}
main article section h2{
  margin: 0;
  text-align: left;
}
main article
{
  display: flex;
  flex-wrap: wrap;
}
main article section
{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  flex-grow: 1;
  width: 50%;
}
main article section p
{
  margin: 0;
}
#project-bottom{
  margin-bottom: 1em;
}
/* Image Styling */
main article img
{
  max-width: 450px;
  max-height: 450px;
  padding: 1em;
  margin: 0 auto;
  opacity: 0;
  position: relative;
}
/*Cards*/
.card-container{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.card-link{
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  color: #222;
}
.card{
  position: relative;
  display: inline-block;
  margin: .75em;
  margin-left: 0;
}
.card-front img{
  opacity: 1;
  overflow: hidden;
  transition: opacity .35s;
  padding: 0;
  margin: 0;
}
.card:hover .card-front img{
  opacity: .25;
  filter: alpha(opacity=25); /* For IE8 and earlier */
}
.card:hover .card-text{
  filter: alpha(opacity=100); /* For IE8 and earlier */
  opacity: 1;
  color: #222;
}
.card-text{
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .35s;
  margin: .75em;
  padding: 0 .5em;
  text-align: left;
}
.text-depth{
  display: block;
}
.text-brief{
  display: none;
}
/* Bootstrap Modal Styling */
.modal-content{
  color: #212121;
  display: block;
  margin: 0 auto;
  padding: .75em;
  text-align: left;
}
.modal-content h1, h2, h3, h4{
  text-align: center;
}
.italicize{
  font-style: italic;
}
#modalLink{
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}
#modalLink:hover{
  cursor: pointer;
  color: #23527c;
  text-decoration: none;
}
#success_message{
  display: none;
}
footer{
  margin: 1em auto;
  text-align: center;
}
/*Image distances*/
.right{
  left: 4em;
}
.left{
  left: -4em;
}
/*Underline CSS code from: http://bradsknutson.com/blog/css-sliding-underline/*/
nav ul li a::after
{
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  transition: width .5s ease, background-color .5s ease;
}
nav ul li a:hover::after
{
  width: 100%;
  background: #23527c;
}
#gotcha{
  display: none;
}
/*End of http://bradsknutson.com/blog/css-sliding-underline/*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 1383px){
    .card-container{
        text-align: center;
    }
}
@media only screen and (max-width: 1100px){
    main article section p, main article img{
      margin: 0;
    }
    main article section p{
        margin-bottom: .5em;
    }
    nav ul{
      flex-wrap: nowrap;
    }
    main article img{
      max-width: 450px;
      max-height: 450px;
      margin: 0 auto;
    }
    main article section p, main article section h2{
      margin: .5em 0;
    }
    #project-bottom{
        margin-bottom: .5em;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 960px){
    main article section p, main article section h2{
      margin: 0;
      margin-bottom: .25em;
    }
    main article section p{
        margin-bottom: 1em;
    }
    nav ul li a{
      font-size: .8em;
    }
    #project-bottom{
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 700px){
    #lend-and-lease img{
        max-width: 400px !important;
    }
    #lend-and-lease .text-brief{
        display: inline;
    }
    #lend-and-lease .text-depth{
        display: none;
    }
}
@media only screen and (max-width: 500px){
    main article img{
      max-height: 300px;
      max-width: 300px;
    }
    .card-front img{
      max-width: 350px;
      max-height: 350px;
    }
    .card{
        margin: .5em auto;
    }
    .card-text{
        margin: .5em auto;
    }
    #lend-and-lease img{
        max-width: 300px !important;
        max-height: 200px !important;
    }
    nav ul li{
      padding: .25em;
    }
    main h1{
      margin: 0 0 .25em;
      padding: 0;
    }
    main{
      margin-top: 4em;
    }
    #icon{
      display: none;
    }
    .text-depth{
        display: none;
    }
    .text-brief{
        display: inline;
    }
}
@media only screen and (max-width: 425px){
    .card-front img., #lend-and-lease img{
      max-width: 300px !important;
    }
}
@media only screen and (max-width: 380px){
    main article img, .card-front img, #lend-and-lease img{
      max-height: 250px !important;
      max-width: 250px !important;
    }
    #lend-and-lease img{
      max-height: 300px !important;
    }
    nav ul li{
        padding: .15em;
    }
    main h1{
        padding: 0 .25em;
        margin-bottom: .25em;
    }
    nav{
      position: initial;
    }
    main{
      margin-top: 0;
    }
    #contact{
      padding: 0;
    }
}