body{
    background-color: darkgray; /* Just for IE since it does not load background image*/
    background-image: url('../images/background.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.2em;
}
div{
    opacity: 0;
}
img{
    width: 15%;
    opacity: 0;
    margin-top: .5em;
}
#resetStoredValuesDiv, #mail{
    opacity: 1;
    margin-left: 39px;
}
#badBrowser{
    text-align: center;
    opacity: 1;
}
#badBrowser h3{
    color: lightgray;
}
a{
    color: lightblue;
}
h1{
    /* Couldn't find a good color, but Cathy approved */
    color: royalblue;
    text-align: center;
}
#form{
    color: royalblue;
}